<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <log4net>
        <root>
            <level value="INFO"/>
            <appender-ref ref="RollingFileAppender"/>
            <appender-ref ref="SendingMailAppender"/> 
        </root>
        <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
            <file value="log/" />
            <appendToFile value="true" />
            <rollingStyle value="Date" />
            <datePattern value="yyyy-MM-dd'.log'" />
            <staticLogFileName value="false" />     
            <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date [%level] - %message%newline" />
            </layout>            
            <filter type="log4net.Filter.LevelRangeFilter">
                <levelMin value="INFO" />
                <levelMax value="FATAL" />
            </filter>
            <filter type="log4net.Filter.DenyAllFilter" />
        </appender>
        <appender name="SendingMailAppender" type="log4net.Appender.SmtpAppender">
          <authentication value="Basic" />
          <EnableSsl value="true" />
          <port value="587" />
          <to value="thanhdatnp95@gmail.com" />
          <from value="thanhdatnp95@gmail.com" />
          <username value="thanhdatnp95@gmail.com" />
          <password value="vvt12345" />
          <subject value="test logging message" />
          <smtpHost value="smtp.gmail.com" />
          <bufferSize value="512" />
          <lossy value="true" />
          <evaluator type="log4net.Core.LevelEvaluator">
            <threshold value="ERROR"/>
          </evaluator>
          <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline%newline%newline" />
          </layout>
        </appender>
    </log4net>
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
</configuration>